<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExternalRoutingObserver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <ExternalRoutingObserver.Properties.Settings>
            <setting name="timeBetweenChangeEventRaising" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="watchDir" serializeAs="String">
                <value>C:\WORK\log</value>
            </setting>
            <setting name="watchFilter" serializeAs="String">
                <value>*.log</value>
            </setting>
            <setting name="regexpMetrics" serializeAs="String">
                <value>INFO\s{1,}start external routing db-load; INFO\s{1,}start caclulation cost on tdt; INFO\s{1,}start external routing db-store; INFO\s{1,}logger startup;</value>
            </setting>
            <setting name="zabbixLogTextMetricNameSuffix" serializeAs="String">
                <value>logproc.ExtOpt_</value>
            </setting>
            <setting name="startGarbageCollectEverySeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="tresholdProcessingLogMinutes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="zabbixSenderPath" serializeAs="String">
                <value>c:\zabbix_agents\3.2.0\bin\win64\zabbix_sender.exe </value>
            </setting>
            <setting name="zabbixServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="zabbixNetworkNode" serializeAs="String">
                <value>LOCALHOST.PROCESSES</value>
            </setting>
            <setting name="regexpDetectRoutindId" serializeAs="String">
                <value>INFO\s+will\s+set\s+trid=\d+</value>
            </setting>
            <setting name="regexpError" serializeAs="String">
                <value>err(or)?</value>
            </setting>
            <setting name="regexpEnd" serializeAs="String">
                <value>INFO proccessed</value>
            </setting>
            <setting name="regexpAllowHandleFileName" serializeAs="String">
                <value>pys_\d{8}_\d{6}\.log</value>
            </setting>
            <setting name="zabbixEnableSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableCheckRealTimeProcessed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="zabbixRealTimeMetricNameSuffix" serializeAs="String">
                <value>logproc.ExtOptRealTime_</value>
            </setting>
            <setting name="zabbixCountMetric" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="queueStartEverySeconds" serializeAs="String">
                <value>10</value>
            </setting>
        </ExternalRoutingObserver.Properties.Settings>
    </applicationSettings>
</configuration>
